html {
	background-image: url("images/tile.png");
  background-repeat: repeat;
  overflow: hidden; /* Hide scrollbars */
  user-select: none;
}
body {
	margin: 0;
    max-width: 90%;
    max-height: 90%;
}
#ad{}
#ad img{
	position:absolute;
	max-width: 40%;
    max-height: 40%;
}
#static{}
#static img {
	position:absolute;
		 margin-top:20%;
		 margin-left: 40%;
		 z-index: 1000;
		 height: 30vh;
		 width: 45vh;
}
#treasure {}
	#treasure img {
		position: absolute;
		z-index: 69;
		animation: float 6s ease-in-out infinite;
		margin-top:3%;
		margin-left:-1%;
		 left:0px;
		 top:0px;
		 max-width: 40%;
    max-height: 40%;
	}
	#treasure img:hover {
		transform: scale(1.05, 1.05);
		filter: drop-shadow(0 0 8px rgba(0,0,0,0.8));
		animation: float 6s ease-in-out infinite;
	}